
<h5 class="text-secundary">Location</h5>
<button class="btn btn-sm btn-success float-left" (click)="nuevo()">Nuevo</button>

<div class="table-responsive pt-4">
  <table class="table table-sm table-hover table-streped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Area</th>
        <th>Pertenece</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listLocation; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.area_m2 }} m2</td>
        <td>{{ data.location ? data.location.name : "---" }}</td>
        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-sm btn-info" (click)="edit(data.id)">Editar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
